.technology-container {
    display: grid;
    grid-column: span 3;
    gap: 2em 3em;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-bottom: 100px;
    height: 60%;
    width: 90%;
}

.video iframe {
    position: relative;
    width: 1000px;
    height: 500px;
    border-style: none;
}

.technology-container h1,
.technology-container p {
    grid-column: span 3;
}

.technology-container .technology {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    height: 5em;
    border: 1px solid $border-color;
    padding: 1em;
    background-image: linear-gradient(to top left, rgb(128, 128, 128), #fff);
    color: $font-color;
    font-size: 2rem;
    text-decoration: none;
}

.img {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 1em;
    // color: $font-color;
    font-size: 2rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.img:hover {
    opacity: 0.6;
}

.technology-container .technology:hover {
    border: 1px solid transparent;
}

.technology-article {
    display: flex;
    flex-direction: row;
}

.technology-article .sidebar {
    width: 50%;
    margin-right: 50px;
}

.technology-article .sidebar ul {
    list-style-type: none;
    padding: 0;
}

.technology-article .sidebar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.technology-article .sidebar a:hover {
    color: #cbcaa5;
}

.technology-article .article {
    width: auto;
}

@media (max-width: 767px) {
    .technology-article .sidebar {
        display: none;
    }
}

@media (max-width: 767px) {
    .technology-container {
        display: grid;
        grid-column: span 1;
        gap: 2em 3em;
    }

    .technology-container h1,
    .technology-container p {
        grid-column: span 1;
    }
}
