$font-color: #000;
$font-alternative-color: #fff;

$border-color: #000;

$accent-color: #ee6c4d;

$background-color: linear-gradient(to top left, gray, black);
$background-alternative-color: #e0fbfc;
$footer-background-color: #444;
$footer-text-color: #fff;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
