$font-color: rgb(160, 160, 160);
$font-alternative-color: #fff;

$border-color: #000;

$accent-color: #ee6c4d;

$background-color: #000;
$background-alternative-color: #e0fbfc;
$footer-background-color: #454a4d;
$footer-text-color: #fff;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;

$filter: grayscale(50%);
